# Human Activity Recognition

### 데이터 탐색

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

In [13]:
feature_name_df = pd.read_csv('../00.data/UCI_HAR_Dataset/features.txt', sep='\s+',
                                header=None, names=['col_index','col_name'])
feature_name_df.head()

   col_index           col_name
0          1  tBodyAcc-mean()-X
1          2  tBodyAcc-mean()-Y
2          3  tBodyAcc-mean()-Z
3          4   tBodyAcc-std()-X
4          5   tBodyAcc-std()-Y

In [15]:
feature_dup_df = feature_name_df.groupby('col_name').count()
feature_dup_df.head()

                                      col_index
col_name
angle(X,gravityMean)                          1
angle(Y,gravityMean)                          1
angle(Z,gravityMean)                          1
angle(tBodyAccJerkMean),gravityMean)          1
angle(tBodyAccMean,gravity)                   1

In [16]:
feature_dup_df[feature_dup_df['col_index'] > 1].head()

                              col_index
col_name
fBodyAcc-bandsEnergy()-1,16           3
fBodyAcc-bandsEnergy()-1,24           3
fBodyAcc-bandsEnergy()-1,8            3
fBodyAcc-bandsEnergy()-17,24          3
fBodyAcc-bandsEnergy()-17,32          3

In [17]:
feature_dup_df[feature_dup_df['col_index'] > 1].count()

col_index    42
dtype: int64

In [18]:
feature_cum_df = pd.DataFrame({'dup_cnt':feature_name_df.groupby('col_name').cumcount()})
feature_cum_df.reset_index(inplace=True)
feature_cum_df.head()

   index  dup_cnt
0      0        0
1      1        0
2      2        0
3      3        0
4      4        0

In [19]:
feature_name_df.head()

   col_index           col_name
0          1  tBodyAcc-mean()-X
1          2  tBodyAcc-mean()-Y
2          3  tBodyAcc-mean()-Z
3          4   tBodyAcc-std()-X
4          5   tBodyAcc-std()-Y

In [24]:
new_df = pd.merge(feature_name_df.reset_index(), feature_cum_df)
new_df.head()

   index  col_index           col_name  dup_cnt
0      0          1  tBodyAcc-mean()-X        0
1      1          2  tBodyAcc-mean()-Y        0
2      2          3  tBodyAcc-mean()-Z        0
3      3          4   tBodyAcc-std()-X        0
4      4          5   tBodyAcc-std()-Y        0

In [25]:
new_df['col_name'] = new_df[['col_name', 'dup_cnt']].\
    apply(lambda x: x[0]+'_'+str(x[1]) if x[1] > 0 else x[0], axis=1)
new_df.head()

   index  col_index           col_name  dup_cnt
0      0          1  tBodyAcc-mean()-X        0
1      1          2  tBodyAcc-mean()-Y        0
2      2          3  tBodyAcc-mean()-Z        0
3      3          4   tBodyAcc-std()-X        0
4      4          5   tBodyAcc-std()-Y        0

In [27]:
new_df = new_df.drop(['index'], axis=1)
new_df.head()

   col_index           col_name  dup_cnt
0          1  tBodyAcc-mean()-X        0
1          2  tBodyAcc-mean()-Y        0
2          3  tBodyAcc-mean()-Z        0
3          4   tBodyAcc-std()-X        0
4          5   tBodyAcc-std()-Y        0

In [28]:
def get_new_feature_name_df(old_df):
    dup_df = pd.DataFrame({'dup_cnt':feature_name_df.groupby('col_name').cumcount()})
    new_df = pd.merge(old_df.reset_index(), dup_df.reset_index())
    new_df['col_name'] = new_df[['col_name', 'dup_cnt']].\
        apply(lambda x: x[0]+'_'+str(x[1]) if x[1] > 0 else x[0], axis=1)
    new_df = new_df.drop(['index'], axis=1)
    return new_df

In [29]:
new_feature_df = get_new_feature_name_df(feature_name_df)
new_feature_df.head()

   col_index           col_name  dup_cnt
0          1  tBodyAcc-mean()-X        0
1          2  tBodyAcc-mean()-Y        0
2          3  tBodyAcc-mean()-Z        0
3          4   tBodyAcc-std()-X        0
4          5   tBodyAcc-std()-Y        0

In [30]:
feature_list = list(new_feature_df.col_name.values)
feature_list[:10]

['tBodyAcc-mean()-X',
 'tBodyAcc-mean()-Y',
 'tBodyAcc-mean()-Z',
 'tBodyAcc-std()-X',
 'tBodyAcc-std()-Y',
 'tBodyAcc-std()-Z',
 'tBodyAcc-mad()-X',
 'tBodyAcc-mad()-Y',
 'tBodyAcc-mad()-Z',
 'tBodyAcc-max()-X']

In [31]:
X_train = pd.read_csv('../00.data/UCI_HAR_Dataset/train/X_train.txt', 
                      header=None, sep='\s+', names=feature_list)
X_test = pd.read_csv('../00.data/UCI_HAR_Dataset/test/X_test.txt', 
                     header=None, sep='\s+', names=feature_list)
y_train = pd.read_csv('../00.data/UCI_HAR_Dataset/train/y_train.txt', 
                      header=None, sep='\s+', names=['action'])
y_test = pd.read_csv('../00.data/UCI_HAR_Dataset/test/y_test.txt', 
                     header=None, sep='\s+', names=['action'])

In [32]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((7352, 561), (2947, 561), (7352, 1), (2947, 1))